# Python C:\Users\ASUS Vivobook\PycharmProjects\PythonProject\daju-beri\backend\.gitignore
__pycache__/
*.py[cod]
*.log
*.sqlite3
*.db

# Django migrations
**/migrations/
**/migrations/*.py[cod]

# Environment
.env
*.env
.venv/
venv/
env/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Static/media (если не планируешь коммитить)
staticfiles/
media/

# Node.js (если будет фронтенд на React/Vue)
node_modules/
